* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0005;
}
