@import "./variables.css";
@import "./animaciones.css";

nav {
  display: flex;
  width: 95vw;
  display: flex;
  margin: 0 auto;
  height: 12vh;
  align-items: center;
  & img {
    width: 170px;
    height: 80px;
    object-fit: cover;
  }
}

li {
  list-style: none;
  height: auto;
  padding: 0 1em 0 1em;
  position: relative;
  line-height: 0.8;
  & div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
.nav {
  width: 80vw;
  height: 100%;
  & > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    & li {
      margin: 0.5em;
    }
  }
}
.active {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--primary-color);
  height: 100%;
  color: var(--white);
  box-shadow: 0px 0px 8px #0005;
}
.child-nav {
  position: absolute;
  top: 12vh;
  box-shadow: 0px 0px 4px #0005;
  background-color: var(--white);
  padding: 0.1em;
  left: 0;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  & > li {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    padding-left: 1em;
    align-items: center;
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 7.5px;
      width: 90%;
      height: 1px;
      background-color: #0005;
    }
    &::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background-color: #000;
      bottom: 5px;
      border-radius: 50%;
    }
  }
  & > li:hover {
    background-color: var(--primary-color);
    font-weight: 600;
    color: var(--white);
    &::after {
      background-color: var(--white);
    }
    &::before {
      background-color: var(--white);
    }
  }
  .active {
    background-color: var(--primary-color);
    font-weight: 600;
    color: var(--white);
    &::after {
      background-color: var(--white);
    }
    &::before {
      background-color: var(--white);
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  & input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    animation: widthMax 2s ease;
  }
}

@keyframes widthMax {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
