@import "./variables.css";
@import "./animaciones.css";

.contenido {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
  height: 100%;
  min-height: 70vh;
}
.title {
  width: 40%;
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  gap: 1em;
  margin-left: 3.5em;
}
.title h1 {
  width: 100%;
  font-size: 32px;
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.title strong {
  display: flex;
  display: block;
  & div {
    display: inline;
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 0.1em;
  }
}
.title p {
  font-size: 0.9em;
  width: 45%;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.acciones {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.acciones button {
  border: none;
  padding: 1em;
  width: 160px;
  border-radius: 5px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
.acciones button:nth-child(1) {
  background-color: var(--secondary-color);
}
.acciones button:nth-child(2) {
  background-color: var(--primary-color);
}
.slider {
  width: 750px;
  height: 520px;
  overflow: hidden;
  display: flex;
  gap: 1em;
}
.slider > img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  filter: contrast(120%);
  transition: all 1s ease-in-out;
  border-radius: 1em;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media screen and (max-width: 420px) {
  .contenido {
    flex-direction: column;
    width: 100vw;
    min-height: auto;
    position: relative;
  }
  .title {
    width: 100%;
    margin: 0;
  }
  .slider {
    position: absolute;
    width: 200px;
    height: 100px;
    right: 0;
    bottom: 5em;
    /* width: calc(100% / 4); */
  }
  .acciones button {
    width: 150px;
    font-size: 0.8em;
    padding: 0.6em;
  }
  .acciones {
    gap: 1em;
  }
}

/* seccion noticias */
.container-carroucel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  gap: 3em;
  & > h2 {
    align-self: flex-start;
    display: flex;
    gap: 0.2em;
    margin-left: 5em;
    font-size: 1.7em;
    & > strong {
      background-color: var(--secondary-color);
      color: #fff;
      font-size: 0.9em;
      padding: 0.1em;
    }
  }
  & > div > article {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.carrucel {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  overflow: hidden;
}
.imgCarrucel {
  width: 65%;
  height: 400px;
  object-fit: cover;
  z-index: 5;
  /* animation:slit-in-vertical .45s ease-out both */
  border-radius: 1em;
  box-shadow: 0 0 5px;
}
.carrucel-contenido {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color: var(--primary-color);
  height: 100%;
  padding: 1em;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.carrucel-contenido p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 10em;
  color: #fff9;
}
.carrucel-contenido h3 {
  font-size: 0.9em;
  color: var(--white);
}
.carrucel-contenido > button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 0.9em;
  padding: 0.5em 2em;
  align-self: flex-end;
  cursor: pointer;
}
.carrucel > button {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  font-size: 28px;

  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--white);
  border: solid 1px var(--primary-color);
  transition: all 1s ease;
}
.carrucel > button:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
}

@media screen and (max-width: 420px) {
  .container-carroucel {
    overflow: hidden;
    width: 100%;
    padding: 0;
    height: auto;
    & > h2 {
      margin: 1em 1em 0 1em;
      font-size: 1.6em;
      & > strong{
        font-size: .8em;

      }
    }
  }
  .carrucel {
    width: 100%;
  }

  .carrucel > button {
    position: absolute;
    right: 1em;
    z-index: 5;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border-radius: 0.5em;
  }
  .carrucel > article {
    width: 100%;
    position: relative;
  }
  .carrucel > article > img {
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 5px;
    /* border-radius: 2em 2em 0 0; */
  }
  .carrucel > article > section {
    background-color: #365e3bcd;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1.5em;
    font-size: 0.8em;
    color: #fff;
    border-radius: 0 5em 0 0;
    height: 30%;
    opacity: 0;
    z-index: 2;

    & > p {
      display: none;
    }
    & > h3 {
      color: #fff;
    }
  }
  .carrucel > article > section:hover {
    opacity: 1;
    z-index: 10;
  }
}

/* ----------------proyectos ------------------------ */

.proyectos {
  width: 100%;
  height: 80vh;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
@media screen and (max-width: 420px) {
  .proyectos {
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.datosProyecto {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  height: 50%;
}
.datosProyecto h3 {
  font-size: 32px;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.datosProyecto button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 0.9em;
  padding: 0.5em 2em;
  align-self: flex-end;
  cursor: pointer;
}
